<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Moto Taxi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div style="padding: 20px;">
        <h1>
            <center>Lista de Parceiros</center>
        </h1>

        <div style="padding: 20px;">
            <form action="/add" method="POST">
                <button type="submit" class="btn btn-primary">Adicionar Novo</button>
            </form>
        </div>

        <table border=1 cellspacing=0 style="width:100%">
            <thead>
                <tr style="background-color: #CCC">
                    <td style="width:15%">Imagem</td>
                    <td style="width:15%">Nome</td>
                    <td style="width:30%">Endereço</td>
                    <td style="width:10%">Funcionamento</td>
                    <td style="width:10%">Telefone</td>
                    <td style="width:10%">Whatsapp</td>
                    <td style="width:5%">Status</td>
                    <td style="width:5%">Editar</td>
                    <td style="width:5%">Excluir</td>

                </tr>
            </thead>

            <tbody>
                <% if(!itens || itens.length == 0) { %>
                <tr>
                    <td colspan="8">Nenhum item cadastrado.</td>
                </tr>
                <% } else {itens.forEach(function(item){ %>
                <tr>
                    <td style="width:15%">
                        <center><img style="width: 100px; height: 60px;"
                                src="https://wrmototaxi.s3-sa-east-1.amazonaws.com/<%= item.fotos %>">
                            <form method="POST" action="../../api/foto/<%= item._id %>" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                        name="file">
                                </div>
                                <button type="submit" class="btn btn-primary">Trocar Foto</button>
                            </form>
                        </center>
                    </td>
                    <td style="text-transform: uppercase;"> <%= item.title %> </a></td>
                    <td style="width:30%"><%= item.endereco %></td>
                    <td style="width:10%"><%= item.funcionamento %></td>
                    <td style="width:10%"><%= item.telefone %></td>
                    <td style="width:10%"><%= item.whatsapp %></td>
                    <% if(!item.bloqueado) { %>
                    <td style="width:5%">
                        <form action="../../api/bloquear/<%= item._id %>" method="get">
                            <button type="submit" name="your_name" value="your_value" class="btn-link">Bloquear</button>
                        </form>
                    </td>
                    <% } else { %>
                    <td style="width:5%">
                        <form action="../../api/desbloquear/<%= item._id %>" method="get">
                            <button type="submit" name="your_name" value="your_value"
                                class="btn-link">Desbloquear</button>
                        </form>
                    </td>
                    <% }%>
                    <td style="width:5%">
                        <form action="../edit/<%= item._id %>" method="get">
                            <button type="submit" name="your_name" value="your_value"
                                class="btn-link">Editar</button>
                        </form>
                    </td>
                    <td style="width:5%">
                        <form action="../../api/delete/<%= item._id %>" method="get">
                            <button type="submit" class="btn-link"
                                onclick="return confirm('Tem certeza?')">Apagar</button>
                        </form>
                    </td>

                </tr>
                <% })
        }%>
            </tbody>

        </table>

    </div>
</body>

</html>